@use "variables" as v;

.contact {
    display: flex;
    padding: 50px 0;
}

.contactInfo {
    padding: 15px 40px;
    margin: 0 10px 15px;
    box-shadow: 2px 2px 5px gray;
    border-left: solid 8px v.$green;
    p {
        margin: 10px;
        }
}

.leftColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 20px;
    .bold { 
        font-family: v.$headingFont;
    }
}

.contactForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    width: 50%;
    box-shadow: 2px 2px 5px gray;
    margin-left: 20px;
    input {
        padding: 8px;
        margin: 10px 0;
    }
    textarea {
        padding: 15px 8px;
        margin: 10px 0;
        height: 120px;
    }
    button {
        text-transform: uppercase;
        align-self: center;        
        padding: 10px 16px;
        margin: 10px;
        border-radius: 20px;
        width:fit-content;
        color: v.$white;
        background-color: v.$green;
        border: none;
    }
}

.fifty {
    width: 49%;
}

.hundred {
    width: 100%;
}