@use "variables" as v;

footer {
    padding-top: 30px;
    font-size: 0.7rem;
}

.footerBG {
    background: url(../assets/cow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

h5 {
    font-size: 0.9rem;
    font-weight: 400;
}

.footerColumns {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.col1 {
    width: 22%;
    display: flex;
    flex-direction: column;
    img {
        width: 50%;
    }
    p {
        padding: 13px 0;
        line-height: 1.6;
    }
}

.footerSocials {
    display: flex;
    li {
        padding: 0 10px;
    }
    a {
        border-radius: 50px;
        padding: 4px 8px;
        
    }
}

.col2 {
    width: 22%;
    a {
        color: v.$black;
        background: none;
        padding: 0;
    }
    li {
        padding: 7px 0;
    }
}

.col3 {
    width: 22%;
}

.col4 {
    width: 22%;
    input {
        width: 90%;
        padding: 9px;
        font-size: 0.5rem;
        border: solid 1.8px lightgrey;
        border-radius: 2px;
        
    }
}

.footVeggies {
    display: flex;
    padding: 4px 0;
    align-items: center;
    img {
        width: 25%;
        height:fit-content;
        margin-right: 15px;
    }
    .greenText {
        display: block;
    }
}

.bold {
    font-weight: 600;
}

.copyright {
    text-align: center;
    padding: 8px 0;
    color: v.$white;
    background-color: v.$green;
}


// -------- MEDIA QUERY (MOBILE SITE) --------

@media (max-width: 480px) {
    .footerColumns {
     flex-wrap: wrap;
    }
    .col1,
    .col2,
    .col3,
    .col4 {
        width: 45%;
    }
}