@use "variables" as v;

html {
    font-family: v.$bodyFont;
    font-weight: 400;
    font-size: 125%;
    color: v.$black;
    background-color: v.$white;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 7px 15px;
    border-radius: 20px;
    color: v.$white;
    background-color: v.$green;
}

h2, 
h3,
h4,
h5 {
    font-family: v.$headingFont;
    font-weight: 600;
}


// -------- MEDIA QUERY (MOBILE SITE) --------

@media (max-width: 480px) {
    html {
     width: 480px;
     font-size: 100%;
    }
    .wrapper {
        width: 90%;
    }
}
