@use "variables" as v;

.navBg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    background: v.$white;
}

.navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    background: v.$white;
}

.navLinks {
    display: flex;
    li {
        display: flex;
        align-items: center;
        a {
            margin: 5px;
            padding: 5px;
            color: v.$black;
            background-color: v.$white;
        }
    }
}

