html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1a2428;
  background-color: #fff;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 15px;
  border-radius: 20px;
  color: #fff;
  background-color: #207200;
}

h2,
h3,
h4 {
  font-family: "Lora", serif;
  font-weight: 600;
}

.navBg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  background: #fff;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  background: #fff;
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navLinks li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navLinks li a {
  margin: 5px;
  padding: 5px;
  color: #1a2428;
  background-color: #fff;
}

.homeHeader {
  background: url(../assets/header/background.png);
  width: 100vw;
  height: calc(100vh - 70px);
  margin-top: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeText,
.homeImage {
  width: 50%;
  height: 100%;
}

h1 {
  font-family: "Lora", serif;
  font-weight: 700;
}

.contactHeader {
  background: url(../assets/contact.jpg);
  width: 100vw;
  height: 300px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}

.aboutText1 {
  width: 50%;
  padding-right: 25px;
}

.aboutText2 {
  width: 50%;
  padding-left: 25px;
}
.aboutText2 h3 {
  text-transform: capitalize;
  padding: 60px 35px;
  border-radius: 25px;
  color: #fff;
  background-color: #207200;
}

.aboutFont {
  font-family: "Lora", serif;
}

.sectionIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  width: 60%;
}

.ourProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.veg {
  width: calc(25% - 40px);
  margin: 20px;
  border: solid 2px #f8f8f8;
}
.veg h4,
.veg p {
  padding: 0 7px;
}

.veg a {
  text-transform: capitalize;
}

.greenText {
  color: #207200;
}

.crossed {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.sectionEndButton {
  text-align: center;
  padding-top: 70px;
}

.gallery {
  background: url(../assets/grass.jpg);
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.galleryLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.picRow1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}
.picRow1 img {
  padding: 4px;
}

.picRow2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.picRow2 img {
  padding: 0 4px;
}

.picRow3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.picRow3 img {
  padding: 4px;
}

.blog {
  background: #207200;
  padding-bottom: 50px;
}
.blog .sectionIntro {
  color: #fff;
}

.threeBlogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogContainer {
  background: #fff;
  width: 31%;
  padding: 10px;
  border-radius: 3px;
  padding-bottom: 30px;
}

footer {
  background: url(../assets/cow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 30px;
}

.footerColumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col1 {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footerSocials a {
  padding: 8px;
}
.footerSocials a img {
  -ms-flex-item-align: center;
      align-self: center;
}

.col2 {
  width: 22%;
}
.col2 a {
  color: #1a2428;
  background: none;
  padding: 0;
}

.col3 {
  width: 22%;
}

.col4 {
  width: 22%;
}

.footVeggies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footVeggies img {
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 10px;
}
.footVeggies .greenText {
  display: block;
}

.copyright {
  text-align: center;
  color: #fff;
  padding-top: 8px;
}