html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 125%;
  color: #1a2428;
  background-color: #fff;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 7px 15px;
  border-radius: 20px;
  color: #fff;
  background-color: #207200;
}

h2,
h3,
h4,
h5 {
  font-family: "Lora", serif;
  font-weight: 600;
}

@media (max-width: 480px) {
  html {
    width: 480px;
    font-size: 100%;
  }
  .wrapper {
    width: 90%;
  }
}
.navBg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  background: #fff;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  background: #fff;
}

.navAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navLinks li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navLinks li a {
  margin: 5px;
  padding: 5px;
  color: #1a2428;
  background-color: #fff;
}
.navLinks li a img {
  height: 20px;
}

.homeHeader {
  background: url(../assets/header/background.png);
  width: 100vw;
  height: calc(100vh - 70px);
  margin-top: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeText,
.homeImage {
  width: 50%;
  height: 100%;
}

h1 {
  font-family: "Lora", serif;
  font-weight: 700;
}

.contactHeader {
  background: url(../assets/contact.jpg);
  width: 100vw;
  height: 300px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

@media (max-width: 480px) {
  .navLogo {
    display: none;
  }
  .navAlign {
    width: 100%;
  }
  .navAlign nav {
    width: 100%;
  }
  .navLinks {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .homeFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .homeText,
  .homeImage {
    width: 100%;
    height: auto;
  }
}
.sectionIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  width: 60%;
}

h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

h2 {
  text-transform: capitalize;
  font-size: 1.8rem;
}

.aboutText1 {
  width: 50%;
  padding-right: 25px;
}

.aboutText2 {
  width: 50%;
  padding-left: 25px;
}
.aboutText2 h3 {
  text-transform: capitalize;
  padding: 60px 35px;
  border-radius: 25px;
  color: #fff;
  background-color: #207200;
  opacity: 0.8;
}

.aboutFont {
  font-family: "Lora", serif;
}

.ourProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.veg {
  width: calc(25% - 40px);
  margin: 20px;
  border: solid 2px #f8f8f8;
}
.veg h4 {
  padding: 0 10px;
  font-size: 0.9rem;
}
.veg p {
  padding: 0 10px;
  font-size: 0.8rem;
}
.veg a {
  text-transform: capitalize;
  font-size: 0.7rem;
  margin-left: 10px;
}

.greenText {
  color: #207200;
  font-weight: 600;
}

.crossed {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.sectionEndButton {
  text-align: center;
  padding-top: 70px;
}

.gallery {
  background: url(../assets/grass.jpg);
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.galleryLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.galleryLinks li {
  margin: 0 5px;
}

.picRow1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}
.picRow1 img {
  padding: 4px;
}

.picRow2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.picRow2 img {
  padding: 0 4px;
}

.picRow3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.picRow3 img {
  padding: 4px;
}

.blog {
  background: #207200;
  padding-bottom: 70px;
}
.blog .sectionIntro {
  color: #fff;
}

.threeBlogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-bottom: 50px;
}

.blogContainer {
  background: #fff;
  width: 31%;
  padding: 15px;
  border-radius: 3px;
  padding-bottom: 35px;
  display: none;
  margin: 0 auto;
}

.carouselNav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carouselButton {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}

.carouselButtonSelected {
  background-color: rgba(255, 255, 255, 0.7);
}

.carouselItemSelected {
  display: block;
}

@media (max-width: 480px) {
  .sectionIntro {
    width: 75%;
    padding-top: 30px;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .aboutText1,
  .aboutText2 {
    width: 100%;
    padding: 0;
  }
  .veg {
    width: calc(50% - 40px);
  }
  .sectionEndButton {
    padding-top: 35px;
  }
  .galleryLinks {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .galleryLinks li {
    margin: 10px 5px;
  }
  .threeBlogs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogContainer {
    width: 100%;
    margin: 10px 0;
  }
}
footer {
  padding-top: 30px;
  font-size: 0.7rem;
}

.footerBG {
  background: url(../assets/cow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

h5 {
  font-size: 0.9rem;
  font-weight: 400;
}

.footerColumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 35px;
}

.col1 {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.col1 img {
  width: 50%;
  margin-top: 30.06px;
}
.col1 p {
  padding: 0;
  margin-bottom: 0;
  line-height: 1.6;
}

.footerSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footerSocials li {
  padding-right: 22px;
}
.footerSocials a {
  border-radius: 50px;
  padding: 4px 8px;
}

.col2 {
  width: 22%;
}
.col2 a {
  color: #1a2428;
  background: none;
  padding: 0;
}
.col2 li {
  padding: 7px 0;
}

.col3 {
  width: 22%;
}

.col4 {
  width: 22%;
}
.col4 input {
  width: 90%;
  padding: 9px;
  font-size: 0.5rem;
  border: solid 1.8px lightgrey;
  border-radius: 2px;
}

.footVeggies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footVeggies img {
  width: 25%;
  height: auto;
  margin-right: 15px;
}
.footVeggies .greenText {
  display: block;
}

.bold {
  font-weight: 600;
}

.copyright {
  text-align: center;
  padding: 8px 0;
  color: #fff;
  background-color: #207200;
}

@media (max-width: 480px) {
  .footerColumns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .col1,
  .col2,
  .col3,
  .col4 {
    width: 45%;
  }
}
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}

.contactInfo {
  padding: 15px 40px;
  margin: 0 10px 15px;
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
  border-left: solid 8px #207200;
}
.contactInfo p {
  margin: 10px;
}

.leftColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-right: 20px;
}
.leftColumn .bold {
  font-family: "Lora", serif;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
  width: 50%;
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
  margin-left: 20px;
}
.contactForm input {
  padding: 8px;
  margin: 10px 0;
}
.contactForm textarea {
  padding: 15px 8px;
  margin: 10px 0;
  height: 120px;
}
.contactForm button {
  text-transform: uppercase;
  padding: 10px 16px;
  margin: 10px auto;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  background-color: #207200;
  border: none;
}
.contactForm button:hover {
  color: #1a2428;
  border: solid 1px #207200;
}
.contactForm ::-webkit-input-placeholder {
  font-size: 0.7rem;
}
.contactForm ::-moz-placeholder {
  font-size: 0.7rem;
}
.contactForm :-ms-input-placeholder {
  font-size: 0.7rem;
}
.contactForm ::-ms-input-placeholder {
  font-size: 0.7rem;
}
.contactForm ::placeholder {
  font-size: 0.7rem;
}

.fifty {
  width: 49%;
}

.hundred {
  width: 100%;
}

@media (max-width: 480px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .leftColumn,
  .contactForm {
    width: 100%;
    margin: 5px 0;
  }
}